##############
# Network
##############

DEFAULT_INPUT=deny
DEFAULT_OUTPUT=allow
ALLOW_SSH=22
ALLOW_HTTP=80
ALLOW_HTTPS=443

#################
# SSH
#################
RELOAD_SSHD_COMMAND="/etc/init.d/ssh reload"

#######################
# FILES & DIRECTORIES
#######################

FW_CFG_DIR=/etc/hardening/
FW_CFG_FILE=/etc/hardening/firewall.rules
SYSCTL_CFG=/etc/sysctl.conf
SSHD_CONFIG=/etc/ssh/sshd_config

#####################
# Scripts
#####################
NETWORK_SCRIPT=./lib/network.sh
SSH_SCRIPT=./lib/ssh.sh
