##############
# Network
##############

DEFAULT_INPUT=deny
DEFAULT_OUTPUT=allow
ALLOW_SSH=22
ALLOW_HTTP=80
ALLOW_HTTPS=443

#################
# SSH
#################

RELOAD_SSHD_COMMAND="/etc/init.d/ssh reload"

#################
# Identity
#################

PASS_MIN_LEN=12
PASS_MIN_CLASS=3
PASS_MAX_DAYS=90
FAIL_LOCK_ATTEMPTS=5
ALLOWED_MAX_UID=1000
ALLOWED_GROUPS=("sudo" "wheel")
USER_TO_LOCK=root
CURRENT_USER=student

####################
# System
####################

BLOATWARES=("telnet" "ftp" "netcat-traditional")
TOOLS_TO_INSTALL=("auditd" "fail2ban")

#######################
# Files & Directories
#######################

FW_CFG_DIR=/etc/hardening/
FW_CFG_FILE=/etc/hardening/firewall.rules
SYSCTL_CFG=/etc/sysctl.conf
SSHD_CONFIG=/etc/ssh/sshd_config
PAM_COMMON_PASSWORD=/etc/pam.d/common-password
LOGIN_DEFS=/etc/login.defs
FAILLOCK_CFG=/etc/security/faillock.conf
ETC_PASSWD=/etc/passwd

#####################
# Scripts
#####################

NETWORK_SCRIPT=./lib/network.sh
SSH_SCRIPT=./lib/ssh.sh
IDENTITY_SCRIPT=./lib/identity.sh
SYSTEM_SCRIPT=./lib/system.sh
