##############
# Network
##############

DEFAULT_INPUT=deny
DEFAULT_OUTPUT=allow
ALLOW_SSH=22
ALLOW_HTTP=80
ALLOW_HTTPS=443

#######################
# FILES & DIRECTORIES
#######################

FW_CFG_DIR=/etc/hardening/
FW_CFG_FILE=/etc/hardening/firewall.rules
NETWORK_SCRIPT=./lib/network.sh
SYSCTL_CFG=/etc/sysctl.conf
